
<div class="guanzhu" id="follow-us">
    <h2 class="hometitle">关注我们 么么哒！</h2>
    <ul>
        <li class="sina"><a href="#" target="_blank"><span>微信公众号</span>达内</a></li>
        <li class="tencent"><a href="#" target="_blank"><span>微信咨询</span>XXX</a></li>
        <li class="qq"><a href="#" target="_blank"><span>QQ号</span>XXXXXX</a></li>
        <li class="email"><a href="#" target="_blank"><span>邮箱帐号</span>tedu.cn</a></li>
        <li class="wxgzh"><a href="#" target="_blank"><span>咨询电话</span>xxxxxxxxxxx</a></li>
    </ul>
</div>