<header id="header">
    <!--menu begin-->
    <div class="menu">
      <nav class="nav" id="topnav">
        <h1 class="logo"><a href="index.html">个人博客</a></h1>
        <li><a href="index.html">网站首页</a> </li>
        <li><a href="list.html">文章列表</a>
          <ul class="sub-nav">
            <li><a href="list.html">Python</a></li>
            <li><a href="list.html">python Web</a></li>
            <li><a href="list.html">爬虫</a></li>
            <li><a href="list.html">人工智能</a></li>
            <li><a href="list.html">JS实例索引</a></li>
          </ul>
        </li>
        <li><a href="photo.html">我的相册</a>
        </li>
        <li><a href="time.html">时间轴</a> </li>
        <li><a href="gbook.html">留言</a> </li>
        <li><a href="about.html">关于我</a> </li>
        <li><a href="release.html">发表博客</a></li>
      </nav>
    </div>
    <a href="login.html" id="login" target="_blank">登录</a>
    <a href="register.html" id="register" target="_blank">注册</a>
    <!--menu end-->
    <!--mnav begin-->
    <div id="mnav">
      <h2><a href="index.html" class="mlogo">个人博客</a><span class="navicon"></span></h2>
      <dl class="list_dl">
        <dt class="list_dt"> <a href="index.html">网站首页</a> </dt>
        <dt class="list_dt"> <a href="#">文章列表</a> </dt>
        <dd class="list_dd">
          <ul>
            <li><a href="list.html">Python</a></li>
            <li><a href="list.html">python Web</a></li>
            <li><a href="list.html">爬虫</a></li>
            <li><a href="list.html">人工智能</a></li>
            <li><a href="list.html">JS实例索引</a></li>
          </ul>
        </dd>
        <dt class="list_dt"> <a href="photo.html">我的相册</a> </dt>
        <dt class="list_dt"> <a href="time.html">时间轴</a> </dt>
        <dt class="list_dt"> <a href="gbook.html">留言</a> </dt>
        <dt class="list_dt"> <a href="about.html">关于我</a> </dt>
      </dl>
    </div>
    <!--mnav end-->
  </header>