<div class="sidebar">

    {% block siderup %}

    <div class="zhuanti">
        <h2 class="hometitle">特别推荐</h2>
        <ul>
            <li> <i><img src="/static/images/banner03.jpg"></i>
                <p>帝国cms调用方法 <span><a href="#">阅读</a></span> </p>
            </li>
            <li> <i><img src="/static/images/b04.jpg"></i>
                <p>5.20 我想对你说 <span><a href="#">阅读</a></span></p>
            </li>
            <li> <i><img src="/static/images/b05.jpg"></i>
                <p>个人博客，属于我的小世界！ <span><a href="#">阅读</a></span></p>
            </li>
        </ul>
    </div>
    <div class="tuijian">
        <h2 class="hometitle">推荐文章</h2>
        <ul class="tjpic">
            <i><img src="/static/images/toppic01.jpg"></i>
            <p><a href="#">别让这些闹心的套路，毁了你的网页设计</a></p>
        </ul>
        <ul class="sidenews">
            <li> <i><img src="/static/images/toppic01.jpg"></i>
                <p><a href="#">别让这些闹心的套路，毁了你的网页设计</a></p>
                <span>2018-05-13</span>
            </li>
            <li> <i><img src="/static/images/toppic02.jpg"></i>
                <p><a href="#">给我模板PSD源文件，我给你设计HTML！</a></p>
                <span>2018-05-13</span>
            </li>
            <li> <i><img src="/static/images/v1.jpg"></i>
                <p><a href="#">别让这些闹心的套路，毁了你的网页设计</a></p>
                <span>2018-05-13</span>
            </li>
            <li> <i><img src="/static/images/v2.jpg"></i>
                <p><a href="#">给我模板PSD源文件，我给你设计HTML！</a></p>
                <span>2018-05-13</span>
            </li>
        </ul>
    </div>
    <div class="tuijian">
        <h2 class="hometitle">点击排行</h2>
        <ul class="tjpic">
            <i><img src="/static/images/toppic01.jpg"></i>
            <p><a href="#">别让这些闹心的套路，毁了你的网页设计</a></p>
        </ul>
        <ul class="sidenews">
            <li> <i><img src="/static/images/toppic01.jpg"></i>
                <p><a href="#">别让这些闹心的套路</a></p>
                <span>2018-05-13</span>
            </li>
            <li> <i><img src="/static/images/toppic02.jpg"></i>
                <p><a href="#">给我模板PSD源文件，我给你设计HTML！</a></p>
                <span>2018-05-13</span>
            </li>
            <li> <i><img src="/static/images/v1.jpg"></i>
                <p><a href="#">别让这些闹心的套路，毁了你的网页设计</a></p>
                <span>2018-05-13</span>
            </li>
            <li> <i><img src="/static/images/v2.jpg"></i>
                <p><a href="#">给我模板PSD源文件，我给你设计HTML！</a></p>
                <span>2018-05-13</span>
            </li>
        </ul>
    </div>
    
    {% endblock %}

    <div class="cloud">
        <h2 class="hometitle">标签云</h2>
        <ul>
            <a href="#">陌上花开</a> <a href="#">校园生活</a> <a href="#">html5</a> <a href="#">SumSung</a> <a href="#">青春</a> <a href="#">温暖</a>
            <a href="#">阳光</a> <a href="#">三星</a><a href="#">索尼</a> <a href="#">华维荣耀</a> <a href="#">三星</a>
            <a href="#">索尼</a>
        </ul>
    </div>
    <div class="guanzhu" id="follow-us">
        <h2 class="hometitle">关注我们 么么哒！</h2>
        <ul>
            <li class="sina"><a href="#" target="_blank"><span>微信公众号</span>蜗牛行天下</a></li>
            <li class="tencent"><a href="#" target="_blank"><span>微信咨询</span>XXX</a></li>
            <li class="qq"><a href="#" target="_blank"><span>QQ号</span>XXXXXX</a></li>
            <li class="email"><a href="#" target="_blank"><span>邮箱帐号</span>XXXXXX</a></li>
            <li class="wxgzh"><a href="#" target="_blank"><span>咨询电话</span>xxxxxxxxxxx</a></li>
        </ul>
    </div>
</div>